@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(./pexels-yurii-hlei-2064058.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Dosis', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh ; 
}

.contairner-forn{
    background: rgba(42, 116, 253, 0.76);
    border-radius: 15px;
    padding: 40px;
}

h2{
    text-align: center ;
    color: white;
}

input{
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 15px;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid;
}
.check{
    width: 15px;
    height: 15px;
    display: inline;
}

label{
    color: white;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 45px;
}

.boton{
    width: 150px;
    border-radius: 15px;
    background-color: black;
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid gray;
    margin-left: 85px;
}

a:hover{
    color: gray;
}

label:hover{
    color: gray;
}

.boton:hover{
    background-color: green;
}
