@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body{
    background: url(./pexels-coco-hache-12412203.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Dosis', sans-serif;
    
}

.main-nav{
    background:  rgba(0, 0, 0, 0.507);
    display: flex;
}

.logo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 1.2rem;
}

ul{
    
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}

ul li a{
    color: white;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.1rem;

}

ul li a:hover{
    background: rgb(39, 39, 182);
}
.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    
}

.card:hover{
    box-shadow: 5px 5px 20px rgb(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 210px;
}
.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color: black;   
}
.card.contenido h3{
    font-weight: 400;
    margin-bottom: 20px;
}

.card.contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    color: rgb(0, 195, 255);
    border: 1px solid rgb(0, 195, 255);
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{
    background: rgb(0, 195, 255);
    color: white;
}

a{
    color: blue
}


